Data/mapformat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="IntValueList">
  <xs:list itemType="xs:int"/>
</xs:simpleType>

<xs:complexType name="Pos3">
    <xs:attribute type="xs:float" name="x" use="required"/>
    <xs:attribute type="xs:float" name="y" use="required"/>
    <xs:attribute type="xs:float" name="z" use="required"/>
</xs:complexType>


<!-- NewMoveType: 1 land, 2 water, 3 air -->
<xs:simpleType name="MoveType">
    <xs:restriction base="xs:string">
        <xs:enumeration value="Land"/>
        <xs:enumeration value="Air"/>
        <xs:enumeration value="Water"/>
        <xs:enumeration value="LandWater"/>
        <xs:enumeration value="LandAir"/>
        <xs:enumeration value="AirWater"/>
        <xs:enumeration value="All"/>
        <xs:enumeration value="None"/>
    </xs:restriction>
</xs:simpleType>

<xs:complexType name="RequiredBuilding">
    <xs:sequence>
        <xs:element name="BuildingUpgradeIds" type="IntValueList"/>
    </xs:sequence>
    <xs:attribute type="xs:int" name="BuildingTypeId" use="required"/>
</xs:complexType>

<xs:complexType name="Requires">
    <xs:all>
        <!-- perhaps rock raider upgrades? -->
        <xs:element name="RequiredObjects" type="IntValueList" minOccurs="0"/>
        <xs:element name="RequiredBuildings">
            <xs:complexType>
                <xs:sequence>
                     <xs:element name="RequiredBuilding" type="RequiredBuilding" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:all>
    <xs:attribute type="xs:int" name="NumberOfRaiders"/>
</xs:complexType>

<xs:complexType name="DropRequires">
    <xs:all>
        <xs:element name="RequiredRaiderUpgrades" type="IntValueList" minOccurs="0"/>
        <xs:element name="AcceptBuildings">
            <xs:complexType>
                <xs:sequence>
                     <xs:element name="AcceptBuilding" type="RequiredBuilding" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="DropBuildings">
            <xs:complexType>
                <xs:sequence>
                     <xs:element name="DropBuilding" type="RequiredBuilding" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:all>
</xs:complexType>


<!-- Building types -->
<xs:complexType name="BuildingTypes">
    <xs:sequence>
        <xs:element type="BuildingType" name="BuildingType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="BuildingType">
    <xs:all>
        <xs:element type="Requires" name="Requires"/>
    </xs:all>
    <xs:attribute type="xs:int" name="BuildingTypeId" use="required"/>
    <xs:attribute type="xs:token" name="Name" use="required"/>
    <xs:attribute type="xs:token" name="ModelPath" use="required"/>
    <xs:attribute type="xs:int" name="Health" use="required"/>
</xs:complexType>

<!-- Vehicle types -->
<xs:complexType name="VehicleTypes">
    <xs:sequence>
        <xs:element type="VehicleType" name="VehicleType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="VehicleType">
    <xs:all>
        <xs:element name="TeleportedByIds" type="IntValueList"/>
        <!-- floatSelect -->
        <!-- Surely this should be part of the prefab? -->
        <!-- <xs:element type="Pos3" name="RaiderSeat"/> -->
        <xs:element type="Requires" name="Requires"/>
        <xs:element name="NewMoveType" type="IntValueList"/>
    </xs:all>
    <xs:attribute type="xs:int" name="VehicleTypeId" use="required"/>
    <xs:attribute type="xs:token" name="Name" use="required"/>
    <xs:attribute type="xs:token" name="ModelPath" use="required"/>
    <xs:attribute type="xs:float" name="Mass" use="required"/>
    <xs:attribute type="xs:float" name="Speed" use="required"/>
    <xs:attribute type="xs:float" name="SurveyRadius" use="required"/>
    <xs:attribute type="xs:token" name="SizeType" use="required"/>
    <xs:attribute name="MoveType" type="MoveType" use="required"/>
    <xs:attribute type="xs:int" name="Health" use="required"/>
</xs:complexType>

<!-- Object types -->
<xs:complexType name="ObjectTypes">
    <xs:sequence>
        <xs:element type="ObjectType" name="ObjectType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="ObjectType">
    <xs:all>
        <xs:element name="DropRequires" type="DropRequires"/>
    </xs:all>
    <xs:attribute type="xs:int" name="ObjectTypeId" use="required"/>
    <xs:attribute type="xs:token" name="Name" use="required"/>
    <xs:attribute type="xs:int" name="EC" use="required"/>
    <xs:attribute type="xs:int" name="Ore" use="required"/>
    <xs:attribute type="xs:float" name="Mass" use="required"/>
    <xs:attribute type="xs:token" name="ModelPath" use="required"/>
</xs:complexType>

<!-- Tile types -->
<xs:complexType name="TileTypes">
    <xs:sequence>
        <xs:element type="TileType" name="TileType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="TileType">
    <xs:sequence>
        <xs:element name="Drops">
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="Drop" name="Drop" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="NewMoveType" type="IntValueList"/>
        <xs:element name="ExtraDropIds" type="IntValueList" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:int" name="TileTypeId" use="required"/>
    <xs:attribute type="xs:int" name="PathTypeId"/>
    <xs:attribute type="xs:token" name="Name" use="required"/>
    <xs:attribute type="xs:boolean" name="Solid" use="required"/>
    <xs:attribute type="xs:token" name="TexturePath" use="required"/>
    <xs:attribute type="xs:float" name="MoveMulti" use="required"/>
    <xs:attribute type="xs:float" name="DrillTime" use="required"/>
    <!--<xs:attribute type="xs:token" name="MovementType" use="required"/>-->
    <xs:attribute name="MoveType" type="MoveType" use="required"/>
    <xs:attribute type="xs:int" name="PathTypeDestroysInto"/>
    <xs:attribute type="xs:int" name="TileTypeDestroysInto"/>
    <xs:attribute type="xs:float" name="Height"/>
    <xs:attribute type="xs:int" name="TileId"/>
</xs:complexType>

<xs:complexType name="Drop">
    <xs:attribute type="xs:int" name="ObjectTypeId" use="required"/>
    <xs:attribute type="xs:int" name="Minimum" use="required"/>
    <xs:attribute type="xs:int" name="Maximum" use="required"/>
</xs:complexType>

<!-- Path types -->
<xs:complexType name="PathTypes">
    <xs:sequence>
        <xs:element type="PathType" name="PathType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="PathType">
    <xs:attribute type="xs:int" name="PathTypeId" use="required"/>
    <xs:attribute type="xs:token" name="Name" use="required"/>
    <xs:attribute type="xs:token" name="TexturePath" use="required"/>
    <xs:attribute type="xs:float" name="MoveMulti" use="required"/>
    <xs:attribute type="xs:boolean" name="Shoveled" use="required"/>
    <xs:attribute type="xs:boolean" name="CanBePowered"/>
    <xs:attribute type="xs:int" name="DestroysInto"/>
</xs:complexType>

<!-- Rock raider types -->
<xs:complexType name="RockRaider">
    <xs:all>
        <xs:element name="TeleportedByIds" type="IntValueList"/>
        <xs:element type="Pos3" name="Position" maxOccurs="0"/>
        <xs:element name="NewMoveType" type="IntValueList"/>
    </xs:all>
    <xs:attribute type="xs:float" name="Speed" use="required"/>
    <xs:attribute type="xs:float" name="SurveyRadius" use="required"/>
    <xs:attribute type="xs:float" name="AwarenessRange" use="required"/>
    <xs:attribute type="xs:float" name="DrillMulti" use="required"/>
    <xs:attribute type="xs:float" name="RepairMulti" use="required"/>
    <xs:attribute type="xs:float" name="TirednessRate" use="required"/>
    <xs:attribute type="xs:int" name="Health" use="required"/>
    <xs:attribute type="xs:int" name="NumberOfToolsCanCarry" use="required"/>
    <xs:attribute name="MoveType" type="MoveType" use="required"/>
    <xs:attribute type="xs:float" name="OxygenDrain" use="required"/>
    <xs:attribute type="xs:float" name="DrillRadius" use="required"/>
    <xs:attribute type="xs:token" name="ModelPath" use="required"/>
    
    <xs:attribute type="xs:int" name="RaiderId" />
    <xs:attribute type="xs:token" name="Name"/>
</xs:complexType>

<!-- Tool types -->
<xs:complexType name="ToolTypes">
    <xs:sequence>
        <xs:element type="ToolType" name="ToolType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="ToolType">
    <xs:all>
        <xs:element type="DropRequires" name="DropRequires"/>
    </xs:all>
    <xs:attribute type="xs:float" name="ToolTypeId" use="required"/>
    <xs:attribute type="xs:token" name="Name" use="required"/>
    <xs:attribute type="xs:token" name="ModelPath" use="required"/>
</xs:complexType>

<!-- MapData types -->
<xs:complexType name="MapData">
    <xs:all>
        <xs:element name="Raiders">
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="Raider" name="Raider" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <!--<xs:element name="Vehicles"/>-->
        <!--<xs:element name="Monsters"/>-->
        <xs:element name="Buildings">
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="Building" name="Building" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="Objects">
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="Object" name="Object" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="Tiles">
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="Tile" name="Tile" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:all>
    <xs:attribute type="xs:int" name="Width" use="required"/>
    <xs:attribute type="xs:int" name="Height" use="required"/>
</xs:complexType>

<xs:complexType name="Raider">
    <xs:all>
        <xs:element type="Pos3" name="Position" minOccurs="1" maxOccurs="1"/>
    </xs:all>
    <xs:attribute type="xs:int" name="RaiderId" use="required"/>
    <xs:attribute type="xs:token" name="Name"/>
        
</xs:complexType>

<xs:complexType name="Building">
    <xs:all>
        <!-- Doesn't actually do anything yet -->
        <xs:element name="BuildingUpgradeIds" type="IntValueList"/>
    </xs:all>
    <xs:attribute type="xs:int" name="BuildingTypeId" use="required"/>
    <xs:attribute type="xs:int" name="BuildingId" use="required"/>
    <xs:attribute type="xs:int" name="ParentTile" use="required"/>
</xs:complexType>

<xs:complexType name="Object">
    <xs:all>
        <xs:element type="Pos3" name="Position"/>
    </xs:all>
    <xs:attribute type="xs:int" name="ObjectTypeId" use="required"/>
    <xs:attribute type="xs:int" name="ObjectId" use="required"/>
</xs:complexType>

<xs:complexType name="Tile">
    <xs:sequence>
        <xs:element name="ExtraDropIds" type="IntValueList" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:int" name="TileTypeId" use="required"/>
    <xs:attribute type="xs:int" name="TileId" use="required"/>
    <xs:attribute type="xs:float" name="Height" use="required"/>
    <xs:attribute type="xs:int" name="PathTypeId"/>
</xs:complexType>

<!-- TBC Monster types -->

<!-- TBC Vehicle upgrade types -->

<!-- TBC Raider upgrade types -->

<!-- TBC Building upgrade types -->

<!-- TBC Generic data types -->

<!-- TBC Interface data types -->

<!-- TBC Menu data types -->

<!-- Map starts here -->
<xs:element name="Map">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="BuildingTypes" type="BuildingTypes"/>
            <xs:element name="VehicleTypes" type="VehicleTypes"/>
            <xs:element name="ObjectTypes" type="ObjectTypes"/>
            <xs:element name="TileTypes" type="TileTypes"/>
            <xs:element name="PathTypes" type="PathTypes"/>
            <xs:element name="RockRaider" type="RockRaider"/>
            <xs:element name="ToolTypes" type="ToolTypes"/>
            <!--
            <xs:element name="MonsterTypes" type="MonsterTypes"/>
            <xs:element name="VehicleUpgradeTypes" type="VehicleUpgradeTypes"/>
            <xs:element name="RaiderUpgradeTypes" type="RaiderUpgradeTypes"/>
            <xs:element name="BuildingUpgradeTypes" type="BuildingUpgradeTypes"/>
            <xs:element name="GenericData" type="GenericData"/>
            <xs:element name="InterfaceData" type="InterfaceData"/>
            <xs:element name="MenuData" type="MenuData"/>
            -->
            <xs:element name="MapData" type="MapData"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>